.whole-page{
/*Данная настройка необходима для создание липкого футтера*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100%;
}