.profile__user-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (max-width: 650px){
    .profile__user-description{
        justify-content: center;
    }
}