.profile__add-new-place-button{
/*Сброс стандартных настроек*/
    text-rendering: unset;
    color: unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: unset;
    background-color: unset;
    box-sizing: border-box;
    font: unset;
    padding: 0;
    border-width: 0;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    /*Кастомные настройки*/
    width: 150px;
    height: 50px;
    background-image: url("images/profile__add-new-place-button.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__add-new-place-button:hover{
    opacity: .6;
}

@media screen and (max-width: 650px){
    .profile__add-new-place-button{
        width: 282px;
        margin-top: 36px;
        background-image: url("images/profile__add-new-place-button-mobile.svg");
    }
}

@media screen and (max-width: 320px){
    .profile__add-new-place-button{
        margin-top: 32px;
    }
}
