.header__logo{
    background-image: url("./header__logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*Масштабирование при уменьшении экрана до мобилки------------------*/
@media screen and (min-width: 1280px) {
    .header__logo{
        width: 142px;
        height: 33px;
    }
}

@media screen and (max-width: 1280px) {
    .header__logo{
        width: calc(11.09375vw + 0.07135417 * (1280px - 100vw));
        height: calc(2.578125vw + 0.01640617 * (1280px - 100vw));
    }
}

@media screen and (max-width: 320px) {
    .header__logo{
        width: 104px;
        height: 24px;
    }
}
/*Логика вычисления---------------------------------------------------
    Максимальная ширина лого при ширине экрана 1280px - 142px.
    Переводим в vw: 142px/1280px*100 = 11,09375.
    Если применить данный коэффициент к минимальной ширине экрана в
    320px, то расчётная ширина лого должна составить: 36px, при
    фактической ширине для данного разрешения 24px. То есть сокращение
    ширины лого при уменьшении экрана будет происходить слишком
    быстро. Опережение будет равно 36px-104px=68px. Таким образом, на
    каждый пиксель изменения ширины экрана в диапазоне от 1280px, до
    320px придётся 68px/(1280px-320px)=0.07135417px. Изменения будем
    регистрировать за счёт соотнесения максимальной ширины экрана
    1280px и текущей 100vw.
    Для высоты лого вычисления аналогичны.
*/