.profile-edit-popup__container{
    position: relative;
    left: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
    width: 470px;
    height: 370px;
    margin-top: 110px;
}

@media screen and (max-width: 880px) {
    .profile-edit-popup__container {
        left: calc(2.272727vw - 0.02398702 * (880px - 100vw));
    }
}

@media screen and (max-width: 530px) {
    .profile-edit-popup__container {
        left: 0;
        width: 282px;
        height: 322px;
    }
}

@media screen and (max-width: 320px) {
    .profile-edit-popup__container {
        margin-top: 80px;
    }
}
