.profile-edit-popup__edit-form-name-input{
/*Сбрасываем стандартные настройки элемента*/
    border-width: 0;
    border-style: unset;
    border-color: unset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 0;
/*Настраиваем элемент*/
    width: 100%;
    font-size: 14px;
    line-height: 1.21;
    color: #000;
}