.cards__card-name{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
    color: #000;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
