.cards__card{
/*Сбрасываем стандартные настройки Figure*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
/*Настраиваем Figure*/
    display: flex;
    flex-direction: column;
    width: 100%;
}