.profile__user-name{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 18px;
    font-size: 42px;
    font-style: normal;
    line-height: 1.14;
    color: #fff;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    font-weight: 500;
}

@media screen and (max-width: 880px){
    .profile__user-name{
        font-size: calc(4.772727vw + 0.01581238 * (880px - 100vw));
        margin-right: calc(2.045455vw + 0.00343327 * (880px - 100vw));
    }
}

@media screen and (max-width: 410px){
    .profile__user-name{
        font-size: 27px;
        line-height: 1.22;
        margin-right: 10px;
    }
}