.popup__form-header{
    margin-block: 0;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
    color: #000;
    text-align: start;
}

@media screen and (max-width: 530px){
    .popup__form-header{
        font-size: 18px;
        line-height: 1.22;
    }
}